# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.allure/allure-2.0.1/bin/
.allure/allure-2.0.1/config/
.allure/allure-2.0.1/lib/config/
.allure/allure-2.0.1/plugins/README.txt
.allure/allure-2.0.1/plugins/behaviors-plugin/allure-plugin.yml
.allure/allure-2.0.1/plugins/behaviors-plugin/static/
.allure/allure-2.0.1/plugins/custom-logo-plugin/
.allure/allure-2.0.1/plugins/junit-plugin/allure-plugin.yml
.allure/allure-2.0.1/plugins/packages-plugin/allure-plugin.yml
.allure/allure-2.0.1/plugins/packages-plugin/static/
.allure/allure-2.0.1/plugins/screen-diff-plugin/
.allure/allure-2.4.1/bin/
.allure/allure-2.4.1/config/
.allure/allure-2.4.1/lib/config/
.allure/allure-2.4.1/plugins/README.txt
.allure/allure-2.4.1/plugins/behaviors-plugin/allure-plugin.yml
.allure/allure-2.4.1/plugins/behaviors-plugin/static/
.allure/allure-2.4.1/plugins/custom-logo-plugin/
.allure/allure-2.4.1/plugins/junit-xml-plugin/allure-plugin.yml
.allure/allure-2.4.1/plugins/packages-plugin/allure-plugin.yml
.allure/allure-2.4.1/plugins/packages-plugin/static/
.allure/allure-2.4.1/plugins/screen-diff-plugin/
.allure/allure-2.4.1/plugins/trx-plugin/allure-plugin.yml
.allure/allure-2.4.1/plugins/xctest-plugin/allure-plugin.yml
.allure/allure-2.4.1/plugins/xunit-xml-plugin/allure-plugin.yml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_beust_jcommander_1_72.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_7_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_7_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_7_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_7_0.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
.idea/libraries/Maven__com_google_guava_guava_23_6_jre.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_9_1.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_13_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_net_commons_net_3_6.xml
.idea/libraries/Maven__io_qameta_allure_allure2_model_api_1_0_BETA6.xml
.idea/libraries/Maven__io_qameta_allure_allure2_model_jackson_1_0_BETA6.xml
.idea/libraries/Maven__io_qameta_allure_allure2_model_pojo_1_0_BETA6.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_7_9.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_24.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_29.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_28.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_neko_htmlunit_2_28.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_3.xml
.idea/libraries/Maven__org_apache_tika_tika_core_1_14.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_10.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_6_2.xml
.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_8_v20171121.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_8_v20171121.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_8_v20171121.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_7_v20170914.xml
.idea/libraries/Maven__org_jooq_joor_0_9_6.xml
.idea/libraries/Maven__org_seleniumhq_selenium_htmlunit_driver_2_29_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_jetty_repacked_9_4_7_v20171121.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_server_3_11_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_11_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_19.xml
.idea/libraries/Maven__xalan_serializer_2_7_2.xml
.idea/libraries/Maven__xalan_xalan_2_7_2.xml
.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
LOG_FILE_IS_UNDEFINED.2018-06-08.0.gz
allure-results/
home-work.iml
target/allure-results/
target/classes/drivers/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/screenshots/
target/surefire-reports/
target/test-classes/BookmarkPageData.json
target/test-classes/logback-test.xml
.DS_Store
UserPrefs.xml